[Libraries]
Library/
Temp/
Obj/
Build/
Logs/
UserSettings/

# Unity cache
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.unityproj
*.booproj
*.svd

# Crash and debug
*.stacktrace

# OS junk
.DS_Store
Thumbs.db
